<%= render 'shared/navbar' %>

<div class="sign_up">
  <div class="edit">
    <div class="card-form block-ali">
      <div class="text-center">
        <h2>Sign up</h2>
      </div>

    <div class="container container-resized">
      <div class="badge badge-pill badge-light" id="clickmoi">
        Add a picture
      </div>
      <%= render 'shared/form' %>
    </div>
  </div>
</div>
