.wrapper-white {
  background: white;
  height: 155px;
  box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.26);
}

.wrapper-line {
  background: #161616;
  opacity: 0.9;
  height: 3px;
}
.wrapper-white-data {
  background: white;
  height: auto;
  box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.3);
}
